## Mount NFS tyrellCorp /home/gnus/calibre,  /etc/systemd/system

[Unit]
Description=Mount 192.168.1.134:/home/gnus/calibre
Requires=systemd-networkd.service
After=network-online.target
Wants=network-online.target


[Mount]
What=192.168.1.134:/home/gnus/calibre
Where=/home/gnus/.calibre
Type=nfs
Options=noauto,x-systemd.automount,x-systemd.device-timeout=10,timeo=14,x-systemd.idle-timeout=1min

[Install]
WantedBy=multi-user.target
