## Mount NFS tyrellCorp /home/music

[Unit]
Description=Mount 192.168.1.182:/home/music
Requires=systemd-networkd.service
After=network-online.target
Wants=network-online.target


[Mount]
What=192.168.1.182:/home/music
Where=/home/gnus/music
Type=nfs
Options=noauto,x-systemd.automount,x-systemd.device-timeout=10,timeo=14,x-systemd.idle-timeout=1min

[Install]
WantedBy=multi-user.target
